asgiref==3.8.1
crispy-tailwind==1.0.3
Django==5.2.1
django-crispy-forms==2.4
django-environ==0.12.0
django-extensions==4.1
pillow==11.2.1
psycopg==3.2.9
psycopg-binary==3.2.9
psycopg-pool==3.2.6
sqlparse==0.5.3
typing_extensions==4.14.0
