{% extends 'blog/base.html' %}

{% block content %}
<a href="{% url 'users_post_create' %}" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 light:bg-green-600 light:hover:bg-green-700 light:focus:ring-green-800">New Post</a>
{% if posts %}
<div class="mt-6 relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 light:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-900 dark:bg-gray-900 dark:text-gray-100">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Title
                </th>
                <th scope="col" class="px-6 py-3">
                    Date Created
                </th>
                <th scope="col" class="px-6 py-3">
                    Date Modified
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
          {% for post in posts %}
            <tr class="odd:bg-white odd:light:bg-gray-900 even:bg-gray-50 even:light:bg-gray-800 border-b light:border-gray-700 border-gray-200">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap light:text-white">
                    {{ post.title }}
                </th>
                <td class="px-6 py-4">
                    {{ post.date_created }}
                </td>
                <td class="px-6 py-4">
                    {{ post.date_modified }}
                </td>
                <td class="px-6 py-4">
                    <a href="{% url 'users_post_edit' post.pk %}" class="focus:outline-none text-gray-900 bg-yellow-500 hover:bg-yellow-600 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 light:focus:ring-yellow-900">Edit</a>
                    <a href="{% url 'users_post_delete' post.pk %}" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 light:bg-red-600 light:hover:bg-red-700 light:focus:ring-red-900">Delete</a>
                </td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p>No Posts Yet!</p>
{% endif %}

{% endblock content %}
