{% extends 'blog/base.html' %}

{% block content %}
<div class="flex flex-row items-center">
    <div class="flex-auto">
        <form class="max-w-md">
            <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only light:text-white">Search</label>
            <div class="relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 light:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                </div>
                <input type="search" name="search" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 light:bg-gray-700 light:border-gray-600 light:placeholder-gray-400 light:text-white light:focus:ring-blue-500 light:focus:border-blue-500" placeholder="Search..."/>
                <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 light:bg-blue-600 light:hover:bg-blue-700 light:focus:ring-blue-800">Search</button>
            </div>
        </form>
    </div>
    <div class="">
        <a href="{% url 'users_post_create' %}" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 light:bg-green-600 light:hover:bg-green-700 light:focus:ring-green-800">New Post</a>
    </div>
</div>

{% if posts %}
<div class="mt-6 relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 light:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-900 dark:bg-gray-900 dark:text-gray-100">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Title
                </th>
                <th scope="col" class="px-6 py-3">
                    Date Created
                </th>
                <th scope="col" class="px-6 py-3">
                    Date Modified
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
          {% for post in posts %}
            <tr class="odd:bg-white odd:light:bg-gray-900 even:bg-gray-50 even:light:bg-gray-800 border-b light:border-gray-700 border-gray-200">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap light:text-white">
                    {{ post.title }}
                </th>
                <td class="px-6 py-4">
                    {{ post.date_created }}
                </td>
                <td class="px-6 py-4">
                    {{ post.date_modified }}
                </td>
                <td class="px-6 py-4">
                    <a href="{% url 'users_post_edit' post.pk %}" class="focus:outline-none text-gray-900 bg-yellow-500 hover:bg-yellow-600 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 light:focus:ring-yellow-900">Edit</a>
                    <a href="{% url 'users_post_delete' post.pk %}" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 light:bg-red-600 light:hover:bg-red-700 light:focus:ring-red-900">Delete</a>
                </td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
</div>
{% if cnt_posts > 2 %}
<nav class="mt-5 text-center" aria-label="Page navigation example">
  <ul class="inline-flex -space-x-px text-base h-10">
      {% if posts.has_previous %}
        <li>
          <a href="?page=1" class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 light:bg-gray-800 light:border-gray-700 light:text-gray-400 light:hover:bg-gray-700 light:hover:text-white">First</a>
        </li>
        <li>
          <a href="?page={{ posts.previous_page_number }}" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 light:bg-gray-800 light:border-gray-700 light:text-gray-400 light:hover:bg-gray-700 light:hover:text-white">Previous</a>
        </li>
      {% else %}
        <li>
          <span class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 light:bg-gray-800 light:border-gray-700 light:text-gray-400 light:hover:bg-gray-700 light:hover:text-white">First</span>
        </li>
        <li>
          <span class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 light:bg-gray-800 light:border-gray-700 light:text-gray-400 light:hover:bg-gray-700 light:hover:text-white">Previous</span>
        </li>
      {% endif %}
        {# Page numbers #}
        {% for num in posts.paginator.page_range %}
          {% if posts.number == num %}
            <li>
              <span class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 light:bg-gray-800 light:border-gray-700 light:text-gray-400 light:hover:bg-gray-700 light:hover:text-white">{{ num }}</span>
            </li>
          {% elif num >= posts.number|add:'-2' and num <= posts.number|add:'2' %}
          <li>
              <a href="?page={{ num }}" aria-current="page" class="flex items-center justify-center px-4 h-10 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 light:border-gray-700 light:bg-gray-700 light:text-white">{{ num }}</a>
          </li>
          {% endif %}
        {% endfor %}

    {% if posts.has_next %}
        <li>
          <a href="?page={{ posts.next_page_number }}" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 light:bg-gray-800 light:border-gray-700 light:text-gray-400 light:hover:bg-gray-700 light:hover:text-white">Next</a>
        </li>
        <li>
          <a href="?page={{ posts.paginator.num_pages }}" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 light:bg-gray-800 light:border-gray-700 light:text-gray-400 light:hover:bg-gray-700 light:hover:text-white">Last</a>
        </li>
    {% else %}
        <li>
          <span class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 light:bg-gray-800 light:border-gray-700 light:text-gray-400 light:hover:bg-gray-700 light:hover:text-white">Next</span>
        </li>
        <li>
          <span class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 light:bg-gray-800 light:border-gray-700 light:text-gray-400 light:hover:bg-gray-700 light:hover:text-white">Last</span>
        </li>
    {% endif %}
  </ul>
</nav>
    {% endif %}

{% else %}
<p>No Posts Yet!</p>
{% endif %}

{% endblock content %}
