{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="bg-gray-100 py-8 lg:py-8 px-4 mx-auto max-w-screen-md shadow-md p-8 rounded-xl">
<h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 light:text-white">Register</h2>
<hr class="text-gray-300">
<form class="mt-5" action="{% url 'users_register' %}" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-blue-700 sm:w-fit hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 light:bg-blue-600 light:hover:bg-blue-700 light:focus:ring-blue-800">Submit</button>
</form>
</div>

{% endblock content %}

